<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./css/style.css">
        
    </head>
    <body>
        <div class="main-content">
            {{>header}}

            <h1>Handle</h1>
            {{!-- <h2>{{title}}</h2> --}}

            <form>
                <input type="text" placeholder="Location">
                <button>Search</button>
            </form>

            <p id="message-1"></p>
            <p id="message-2"></p>

        </div>
        
        {{>footer}}

        <script src="./js/javascript.js"></script>
    </body>
</html>